html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: #202428;
	color: #EEE;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: #00aaff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #0088dd;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

table.striped > tbody > tr:nth-child(even) {
	background: #282b2f;
}

table.striped > tbody > tr:nth-child(odd) {
	background: #383b3f;
}
